
@{
    ViewBag.Title = "index";
}

<h2>Main</h2>

<a class="btn btn-primary" href="/Main/Alert">Alert</a>
<br/>

@*
Utilizando um iterator, mostrar todos os pedidos efetuados por clientes ao sistema.
*@
