
@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>

    <div class="container">

        <form action="/Main/Report" method="POST">
            @{
                Html.RenderPartial("Occurence_Form");
            }
            
            @*<input type="hidden" name="analist_id" value=""/>*@

            <button type="submit" class="btn btn-primary">Submit allert</button>
        </form>
    </div>