
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-lg-10 offset-md-1">
                <div class="card-wrapper">
                    <!-- Input groups -->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header">
                            <h3 class="mb-0">Reportar Ocorrência</h3>
                        </div>
                        <!-- Card body -->
                        <div class="card-body">
                            <form  action="/Main/Alert" method="POST">
                                <!-- Input groups with icon -->
                                <label class="form-control-label" for="exampleFormControlInput1">Título</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-group input-group-merge">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-heading"></i></span>
                                                </div>
                                                <input class="form-control" placeholder="Insira um título" type="text" id="title" name="Title" required>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <label class="form-control-label" for="exampleFormControlInput1">Descrição</label>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" resize="none" name="description" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- Input groups with icon -->
                                <label class="form-control-label" for="exampleFormControlInput1">Data</label>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input type='text' class="form-control" id="date" name="date" required/>
                                                <span class="input-group-addon input-group-append">
                                                    <button class="btn btn-outline-primary" type="button" id="button-addon2"> <span class="fa fa-calendar"></span></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label class="form-control-label" for="exampleFormControlInput1">Localidade</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-group input-group-merge">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                                                </div>
                                                <input class="form-control" placeholder="Insira o local da ocorrência" type="text" id="local" name="local">
                                            </div>
                                        </div>
                                    </div>
                                </div>
